p {
    font-family: "Mercury SSm A", "Mercury SSm B", Georgia, serif;
    Font-size: "100px";
}

.quadrado {
    height: 50px;
    border: 15px solid #042f2d;
    width: 50%;
    background-color: rgba(179, 214, 212, 0.1);
}

.Img {
    height: 10px;
    width: 10px;
    background-color: rgba(179, 214, 212, 0.1); 
}

.Img {
    float: left;
    width: 200px;
}